.contacts {
	padding: 50px 0 50px 0;

	// .contacts__container

	&__container {
	}

	// .contacts__content

	&__content {
		max-width: 485px;
		text-align: center;
		margin: 0 auto;
	}

	// .contacts__title

	&__title {
		margin-bottom: 30px;
	}

	// .contacts__text

	&__text {
		margin-bottom: 30px;
	}

	// .contacts__button

	&__button {
		padding: 10px 20px;
		border-radius: 15px;
		margin-bottom: 50px;
		background: black;
		color: white;
	}
}

